@charset "utf-8";
/* CSS Document */

a:link {
    color: red;
}

a:visited {
    color: orange;
}

a:hover {
    color: green;
}

a:active {
    color: pink;
}

li:nth-child(odd) {
    background-color: silver;
}

