@charset "utf-8";
/* CSS Document */
#container {
	width:900px;
	margin:auto;
	display:-webkit-flex;
	display:-moz-flex;
	display:-ms-flexbox;
	display:flex;
}
#contents {
	width:650px;
	background:#b1e1e3;
	-webkit-order:2;
	-ms-flex-order:2;
	order:2;
}
nav {
	width:250px;
	background:#f2f3b0;
	-webkit-order:1;
	-ms-flex-order:1;
	order:1;
}

#contents {
	width:650px;
	background:#b1e1e3;
}
nav {
	width:250px;
	background:#f2f3b0;
}